<mat-vertical-stepper [linear] = "isLinear" #stepper>
  <mat-step [stepControl] = "firstFormGroup">
     <form [formGroup] = "firstFormGroup">
        <ng-template matStepLabel>Enter your name</ng-template>
        <mat-form-field>
           <input matInput placeholder = "Last name" formControlName = "firstCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder = " First name" formControlName = "firstCtrl" required>
       </mat-form-field>
       <mat-form-field>
        <input matInput [matDatepicker] = "picker" placeholder = "Choose a date">
        <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
     </mat-form-field>
     <mat-radio-group class = "tp-radio-group" [(ngModel)] = "favoriteSeason">
      <mat-radio-button class = "tp-radio-button"
         *ngFor = "let season of seasons" [value] = "season">
         {{season}}
      </mat-radio-button>
   </mat-radio-group>
   <div class = "tp-selected-value">
      Selected Season: {{favoriteSeason}}
   </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
     </form>
  </mat-step>
  <mat-step [stepControl] = "secondFormGroup">
     <form [formGroup] = "secondFormGroup">
        <ng-template matStepLabel>Enter your address</ng-template>
        <mat-form-field>
          <input matInput placeholder = "Address" formControlName = "secondCtrl" required>
        </mat-form-field>
        <mat-card class = "tp-card">
          <mat-card-header>
             <div mat-card-avatar class = "tp-header-image"></div>
             <mat-card-title>HTML5</mat-card-title>
             <mat-card-subtitle>HTML Basics</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src = "https://www.tutorialspoint.com/materialize/src/html5-mini-logo.jpg" alt = "Learn HTML5">
          <mat-card-content>
             <p>
                HTML5 is the next major revision of the HTML standard superseding
                HTML 4.01, XHTML 1.0, and XHTML 1.1. HTML5 is a standard for
                structuring and presenting content on the World Wide Web.
             </p>
          </mat-card-content>
          <mat-card-actions>
             <button mat-button>LIKE</button>
             <button mat-button>SHARE</button>
          </mat-card-actions>
       </mat-card>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
     </form>
  </mat-step>
  <mat-step>
     <ng-template matStepLabel>Done</ng-template>
        Details taken.
     <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click) = "stepper.reset()">Reset</button>
     </div>
  </mat-step>
</mat-vertical-stepper>

<mat-expansion-panel>
  <mat-expansion-panel-header>
     <mat-panel-title>
        Personal data
     </mat-panel-title>
     <mat-panel-description>
        Type name and age
     </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field>
     <input matInput placeholder="Name">
  </mat-form-field>
  <mat-form-field>
     <input matInput placeholder="Age">
  </mat-form-field>
</mat-expansion-panel>

<h2 class = "tp-h2">Checkbox configuration</h2>
<section class = "tp-section">
   <mat-checkbox class = "tp-margin" [(ngModel)] = "checked">Checked</mat-checkbox>
   <mat-checkbox class = "tp-margin" [(ngModel)] = "indeterminate">Indeterminate</mat-checkbox>
</section> 
<section class = "tp-section">
   <mat-checkbox class = "tp-margin" [(ngModel)] = "disabled">Disabled</mat-checkbox>
</section>
<h2 class = "tp-h2">Result</h2>
<section class = "tp-section">
   <mat-checkbox
      class = "tp-margin"
      [(ngModel)] = "checked"
      [(indeterminate)] = "indeterminate"
      [labelPosition] = "labelPosition"
      [disabled] = "disabled">
      Sample Checkbox
   </mat-checkbox>
</section>

<div class = "example-button-row">
  <button mat-button>Basic</button>
  <button mat-raised-button>Raised</button>
  <button mat-stroked-button>Stroked</button>
  <button mat-flat-button>Flat</button>
  <button mat-icon-button>
     <mat-icon aria-label="Heart">favorite</mat-icon>
  </button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Mini</button>
  <a mat-button routerLink = ".">Link</a>
</div>




<div class="example-container">
  <h2>To do</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div>
</div>
